Novo

<form class="user-form" action="/ativos/create" method="POST">
  <div class="form-group">
    <label for="codigo">Codigo do Ativo</label>
    <input type="input" class="form-control" id="codigo" name="codigo" placeholder="Codigo do ativo" required />
  </div>
  <div class="form-group">
    <label for="date">Data da Compra</label>
    <input type="date" class="form-control" id="date" name="date" placeholder="Data da compra" required />
  </div>
  <div class="form-group">
    <label for="quantidade">Quantidade</label>
    <input type="number" class="form-control" id="quantidade" name="quantidade" placeholder="Quantidade" required />
  </div>
  <div class="form-group">
    <label for="tipo">Tipo de Operacao</label>
    <select id="tipo" name="tipo" class="custom-select">
      <option value="c" selected >Compra</option>
      <option value="v">Venda</option>
      <option value="d">Dividendo</option>
    </select>
  </div>
  <div class="form-group">
    <label for="valor">Valor Total da Operacao</label>
    <input type="number" class="form-control" id="valor" name="valor" placeholder="Total Investido" required />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
