<script type="text/javascript">



 </script>

<table id="ativosList" class="table table-striped table-bordered table-dark">
    <thead>
        <th></th>
        <th>Código</th>
        <th>Saldo</th>
        <th>Unitário</th>
        <th>Rendimento</th>
    </thead>

</table>

 
 
    <!--
    <tbody>
        {{#each ativos}}
            <tr>
                <td>{{codigo}}</td>
                <td>{{saldo}}</td>
                <td>{{unitario}}</td>
                <td>{{retorno}}%</td>
                <td>
                    {{#each trade}}
                        a
                    {{/each}}
                </td>
            </tr>
        {{/each}}
    </tbody>
    --->

