<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="container" style="height: 200px; background-color: purple;">
    <button type="button" class="btn btn-primary">TESTE</button>
    <button type="button" class="btn btn-primary">TESTE2</button>

</div>
