<div id="confGoalDiv" style="background-color:white;padding:20px;">
</div>

<div style="background-color:white;padding:20px;">
    <form action="/goals/create" method="POST"></form>
    <div style="text-align:right;">
        <button class="btn btn-primary" id="btnAddSet">Adicionar Fluxo</button>
        <button type="submit" class="btn btn-primary">Gravar</button>
    </div>
</form>
</div>

<script src="/javascripts/goals_index.js"></script>