<form action="/goals/create" id="FormNewGoal" method="POST" onsubmit="return validate();">
<div id="confGoalDiv" style="background-color:white;padding:20px;">
</div>
<div style="background-color:white;padding:20px;">
    <div style="text-align:right;">
        <button type="button" class="btn btn-primary" id="btnAddSet">Adicionar Fluxo</button>
        <button type="submit" class="btn btn-primary">Gravar</button>
    </div>
</form>
</div>

<script src="/javascripts/goals_index.js"></script>

