<div class="container main-page-content">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                    aria-controls="v-pills-home" aria-selected="true">Home</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                    aria-controls="v-pills-profile" aria-selected="false">Form</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                    aria-controls="v-pills-messages" aria-selected="false">Cards</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                    aria-controls="v-pills-settings" aria-selected="false">Nice inputs</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Etiam
                    et dui sed massa lobortis aliquam maximus non elit. Phasellus bibendum pellentesque ligula, et
                    rutrum tellus
                    posuere in. Curabitur commodo erat quis ante tempor dapibus. Morbi non laoreet lacus. Nullam
                    consequat, libero
                    eget semper commodo, nisl ipsum dapibus diam, non fringilla magna eros sed ex. Vestibulum congue
                    vehicula diam et
                    mollis. Aliquam in leo placerat, blandit nisi in, vestibulum metus. In pellentesque mattis velit,
                    sit amet ornare
                    enim semper feugiat. Phasellus sit amet nibh sed enim imperdiet placerat eu non ligula. Maecenas id
                    mi at elit
                    varius facilisis. Proin vestibulum ac metus ut consectetur. Quisque egestas neque sed tempus
                    condimentum. Sed odio
                    nulla, tempor non enim eget, congue mollis quam. Integer erat est, placerat non elit ut, tempor
                    pellentesque eros.
                    In hac habitasse platea dictumst.</div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/card1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's
                                content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-1x fa-money-check-alt"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Place money quantity" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

